.theme-blue {
	.btn.action { 
		background: $blue;
		color: #fff;
		border: solid 1px $blue;
	}

	.preview {
		&.active {
			border: solid 1px $blue;
		}
	}

	.input {
		&:focus {
			border: solid 1px $blue;
		}
	}
}

body.no1 {
	.popup {
		background-color: rgba(87,114,163,.75);

		.btn.action {
			background-color: $blue;
			color: #fff;
			border: solid 1px $blue;
		}
	}
}