.theme-green {
	.btn.action { 
		background: $green;
		color: #fff;
		border: solid 1px $green;
	}

	.preview {
		&.active {
			border: solid 1px $green;
		}
	}

	.input {
		&:focus {
			border: solid 1px $green;
		}
	}

	.delete-offer a {
		color: $green;
	}
}

body.no2 {
	.popup {
		background-color: rgba(88,161,110,.75);

		.btn.action {
			background-color: $green;
			color: #fff;
			border: solid 1px $green;
		}
	}
}