<fieldset data-id="{{id}}" class="offer">
	<legend>
		{{t.offer}}
		<span class="delete-offer">
			(<a href="#">{{t.deleteThisOffer}}</a>)
		</span>
	</legend>

	<div class="row">
		<div class="full field">
			<label class="lbl">{{t.strapline}}</label><br>
			<textarea name="{{id}}_strapline" placeholder="Barcelo Costa Cancun" class="input js-validate" maxlength="{{#settings.date}}{{settings.maxlength.straplineConvention}}{{/settings.date}}{{^settings.date}}{{settings.maxlength.strapline}}{{/settings.date}}" required>{{filled.strapline}}</textarea>
			<span class="countMaxCharacter" id='inputValue1' name="inputValue1">{{#settings.date}}{{settings.maxlength.straplineConvention}}{{/settings.date}}{{^settings.date}}{{settings.maxlength.strapline}}{{/settings.date}}</span>
		</div>
	</div>

	<div class="row">
		<div class="full field">
			<label class="lbl">{{t.title}}</label><br>
			<textarea name="{{id}}_title" placeholder="Cancun, Mexique" class="input js-validate" maxlength="{{settings.maxlength.title}}" required>{{filled.title}}</textarea>
			<span class="countMaxCharacter" id='inputValue2' name="inputValue2">{{settings.maxlength.title}}</span>
		</div>
	</div>
	{{#settings.date}}	
	<div class="row">
		<div class="full field">
			<label class="lbl">{{t.place}}</label><br>
			<textarea name="{{id}}_place" placeholder="Boucherville" class="input" maxlength="{{settings.maxlength.place}}">{{filled.place}}</textarea>
			<span class="countMaxCharacter" id='inputValue6' name="inputValue2">{{settings.maxlength.place}}</span>
		</div>
	</div>	
	{{/settings.date}}
	<div class="row">
		{{#settings.price}}
		<div class="half field">
			<label class="lbl">{{t.price}}</label><br>
			<input type="text" name="{{id}}_price" placeholder="1358" class="input short dollar js-validate" value="{{filled.price}}" />
		</div>
		{{/settings.price}}
		{{#settings.date}}		
		<div class="half field">
			<label class="lbl">{{t.date}}</label><br>
			<input type="date" name="{{id}}_date" placeholder="2014-12-31" class="input short js-validate" value="{{filled.date.raw}}" />
		</div>
		<div class="half field">
			<label class="lbl">{{t.time}}</label><br>
			<input type="time" name="{{id}}_time" value="{{#filled.time}}{{filled.time.raw}}{{/filled.time}}{{^filled.time}}12:00{{/filled.time}}" class="input short js-validate" />
		</div>
		{{/settings.date}}
	</div>
	{{#settings.price}}
	<div class="row opt">

		<div class="half field mention">
			<label class="lbl">{{t.mention}} 1 <small class="msg">({{t.optional}})</small></label>
			<div>
				<input type="radio" name="{{id}}_mention_1" value="" {{#filled.mention1.no0}}checked{{/filled.mention1.no0}} {{^filled.mention1}}checked{{/filled.mention1}} />
				<span class="radio-lbl">{{t.none}}</span>
			</div>
			<div>
				<input type="radio" name="{{id}}_mention_1" value="À partir de" {{#filled.mention1.no1}}checked{{/filled.mention1.no1}} />
				<span class="radio-lbl">{{t.from}}</span>
			</div>
			<div>
				<input type="radio" name="{{id}}_mention_1" value="Par personne" {{#filled.mention1.no2}}checked{{/filled.mention1.no2}} /> 
				<span class="radio-lbl">{{t.perCapita}}</span>
			</div>
			<div>
				<input type="radio" name="{{id}}_mention_1" value="Vol inclus" {{#filled.mention1.no3}}checked{{/filled.mention1.no3}} />
				<span class="radio-lbl">{{t.flightIncluded}}</span>
			</div>
			<div>
				<input type="radio" name="{{id}}_mention_1" value="Taxes incluses" {{#filled.mention1.no4}}checked{{/filled.mention1.no4}} /> 
				<span class="radio-lbl">{{t.taxesIncluded}}</span>
			</div>
			<div>
				<input type="radio" name="{{id}}_mention_1" value="freetext" {{#filled.mention1.no5}}checked{{/filled.mention1.no5}} />

				<input type="text" name="{{id}}_mention_1_freetext" placeholder="{{t.perWeek}}" maxlength="{{settings.maxlength.mention}}" class="input" value="{{filled.mention1.freetext}}" />
				<span class="countMaxCharacter special" id='inputValue3' name="inputValue3">{{settings.maxlength.mention}}</span>
			</div>
		</div>

		<div class="half field mention">
			<label class="lbl">{{t.mention}} 2 <small class="msg">({{t.optional}})</small></label>
			<div>
				<input type="radio" name="{{id}}_mention_2" value="" {{#filled.mention2.no0}}checked{{/filled.mention2.no0}} {{^filled.mention2}}checked{{/filled.mention2}} />
				<span class="radio-lbl">{{t.none}}</span>
			</div>
			<div>
				<input type="radio" name="{{id}}_mention_2" value="À partir de" {{#filled.mention2.no1}}checked{{/filled.mention2.no1}} /> 
				<span class="radio-lbl">{{t.from}}</span>
			</div>
			<div>
				<input type="radio" name="{{id}}_mention_2" value="Par personne" {{#filled.mention2.no2}}checked{{/filled.mention2.no2}} /> 
				<span class="radio-lbl">{{t.perCapita}}</span>
			</div>
			<div>
				<input type="radio" name="{{id}}_mention_2" value="Vol inclus" {{#filled.mention2.no3}}checked{{/filled.mention2.no3}} />
				<span class="radio-lbl">{{t.flightIncluded}}</span>
			</div>
			<div>
				<input type="radio" name="{{id}}_mention_2" value="Taxes incluses" {{#filled.mention2.no4}}checked{{/filled.mention2.no4}} /> 
				<span class="radio-lbl">{{t.taxesIncluded}}</span>
			</div>
			<div>
				<input type="radio" name="{{id}}_mention_2" value="freetext" {{#filled.mention2.no5}}checked{{/filled.mention2.no5}} /> 

				<input type="text" name="{{id}}_mention_2_freetext" placeholder="{{t.perWeek}}" maxlength="{{settings.maxlength.mention}}" class="input" value="{{filled.mention2.freetext}}" />
				<span class="countMaxCharacter special" id='inputValue4' name="inputValue4">{{settings.maxlength.mention}}</span>
			</div>
		</div>

	</div>

	<div class="row opt">
		<div class="full">
			<label class="lbl">{{t.numberOfStars}}</label>
			<input type="hidden" id="{{id}}_rateit_val" name="{{id}}_rating" value="{{filled.rating}}">
			<div class="{{id}}_rateit"></div>
		</div>
	</div>
	{{/settings.price}}
	<div class="row">
		<div class="full field">
			<label class="lbl">{{t.webLink}}</label>
			<input type="text" name="{{id}}_link" value="{{#filled.link}}{{filled.link}}{{/filled.link}}{{^filled.link}}http://{{/filled.link}}" class="input js-validate" required>
		</div>
	</div>

	{{#settings.picture}}
	<div class="row">
		<div class="half field">
			<label class="lbl">{{t.picture}}(s) <span class="msg"></span></label>
			{{#filled.pictures.length}}
			<input type="hidden" name="pre-{{id}}_picture" value="{{filled.pictures}}">
			{{/filled.pictures.length}}
			<div class="btn action file" data-max="{{settings.maxPictures}}" data-max-original="{{settings.maxOriginalPictures}}">
				<span class="text">{{t.uploadImage}}</span>
				<input type="file" accept="image/*" capture="camera" name="{{id}}_picture[]" data-key="{{id}}" class="js-multi-files {{^filled.pictures.length}}js-validate{{/filled.pictures.length}}" required />
			</div>
		</div>
	</div>
	{{/settings.picture}}

	{{#settings.video}}
	<div class="row video opt">
		<div class="half field">
			<label class="lbl">{{t.video}} <small class="msg">({{t.optional}})</small> <span class="msg">({{t.additionalChargesForVideos}})</span></label>
			{{#filled.videos.length}}
			<input type="hidden" name="pre-{{id}}_video" value="{{filled.video}}">
			{{/filled.videos.length}}
			<div class="btn file">
				<span class="text">{{t.uploadVideo}}</span>
				<input type="hidden" name="pre-{{id}}_video">
				<input type="file" accept="video/*" capture="camera" name="{{id}}_video" />
			</div>
		</div>
		<ol class="files-list hide">
			<li>
				<span class="preview"></span>
				<a href="#" class="js-erease-video">X</a>
			</li>
		</ol>
	</div>
	{{/settings.video}}

	{{#settings.description}}
	<div class="row">
		<div class="full field">
			<label class="lbl">{{t.description}}</label><br>
			<textarea name="{{id}}_description" class="textarea js-validate" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt risus ultricies diam tristique bibendum. Vestibulum lacinia vehicula auctor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis consectetur felis nec massa pretium pharetra." maxlength="{{settings.maxlength.description}}" required>{{filled.description}}</textarea><span class="countMaxCharacter" id='inputValue5' name="inputValue5" >{{settings.maxlength.description}}</span>
		</div>
	</div>
	{{/settings.description}}

	<div class="row opt">
		<div class="full field">
			<label class="lbl">{{t.legal}} <small class="msg">({{t.optional}})</small></span><br>
			<textarea name="{{id}}_legal" class="textarea" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt risus ultricies diam tristique bibendum. Vestibulum lacinia vehicula auctor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis consectetur felis nec massa pretium pharetra.">{{filled.legal}}</textarea>
		</div>
	</div>
</fieldset>