/*------------------------------------*\
    #Header
\*------------------------------------*/

.main-header {
	position: fixed;
	top:  1%;
	left: 0;
	width:  100%;
	margin:  0;
	padding: 0;
	z-index: 1;
}

.main-header__wrapper {
	position: relative;
	float: left;
	width: 87.6%;
	margin: 0 6.2%;
}

.main-header__logo {
	position: relative;
	float: left;
	width: 9.3%;
	z-index: 5;
	@include transition( (height .5s ease, border .5s ease) );

	img { width: 100%; }
}

.main-header__nav {
	display: table;
	float: left;
	left: 10.3%;
	width: 89.7%;
	font-size: 70%;
	background-color: $dark-grey;
	color: $light-grey;
	font-family: Rubrik_Medium, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	margin: 0 0 0 1%;
}

.main-header__link {
	display: table-cell;
	position: relative;
	height: 100%;
	color: $light-grey;
	text-align: center;
	text-decoration: none;
	padding: 2.4% 0 2.2% 0;
	border-bottom: solid 3px transparent;
	cursor: pointer;

	&:hover,
	&.selected {
		border-bottom: solid 3px rgba(255,255,255,0.9);
	}
}

.no0 .main-header__link.no0,
.no1 .main-header__link.no1,
.no2 .main-header__link.no2,
.no3 .main-header__link.no3 {
	border-bottom: solid 3px rgba(255,255,255,0.9);
}