/*------------------------------------*\
    #Footer
\*------------------------------------*/

.main-footer {
	position: fixed;
	bottom: 0;
	left:   0;
	width:  100%;
	height: 45px;
	background: $medium-black;
	color: #fff;

	.return {
		position: relative;
		float: right;
		height: 100%;
		color: #fff;
		text-decoration: none;
		line-height: 45px;
		margin: 0 1rem;
	}
}