/*------------------------------------*\
    #Global
\*------------------------------------*/

$lp-red: #e80901;
$lp-grey: #898788;

$bg-grey: #eaeaea;

$light-grey: #eaeaeb;
$medium-grey: #e7e7e7;
$dark-grey: rgba(81,82,81,0.96);

$medium-black: #232323;

$valid-green: #0f7801;
$focus: rgb(77, 144, 254);

$optional: rgba(255,239,198,.5);

$radius: 0px;

$speed: .5s;

$purple: #9958a1;
$blue: #5772a3;
$green: #58a16e;
$yellow: #e9b500;