.tip {
	position: absolute;
	top: 0;
	left: -9999px;
	width: auto;
	background-color:    #fff;
	background-image:    url('../images/btn-close-black.png');
	background-position: calc(100% - .5rem) 1rem;
	background-repeat:   no-repeat;
	background-size:     1.5rem 1.5rem;
	font-size: .9rem;
	border-radius: $radius;
	@include box-shadow(0 0 40px 0 #000);
	padding: 1rem 2.5rem 1rem 1rem;
	z-index: 5;
	opacity: 0;
	pointer-events: none;
	cursor: pointer;
	@include transform(translateY(-20px));
	@include transition(transform .5s ease, opacity .5s ease);

	&.active {
		opacity: 1;
		pointer-events: auto;
		@include transform(translateY(0));
	}

	&.browserRender {
		top: 35px;
		left: 50%;
		width: 420px;
		margin-left: calc(-1.75rem - 210px);
		@extend .pointer-btm-mid;
	}

	&.adblock {
		top: 20px;
		left: auto;
		right: 6.2%;
		width: 420px;
		@extend .pointer-top-rgt;

		strong {
			display: inline-block;
			padding: .25rem 1.5rem .25rem 0;
			background: url('../images/adblock-icon.png') 100% 50% no-repeat;
		}
	}
}

.pointer-btm-mid {
	&:before {
		content: ' ';
		position: absolute;
		width:  0;
		height: 0;
		top: 100%;
		left: 50%;
		border: 20px solid;
		border-color: $medium-grey transparent transparent transparent;
		@include transform(translateX(-20px));
	}

	&:after {
		content: ' ';
		position: absolute;
		width:  0;
		height: 0;
		top: 100%;
		left: 50%;
		border: 18px solid;
		border-color: #fff transparent transparent transparent;
		@include transform(translateX(-18px));
	}
}

.pointer-top-rgt {
	&:after {
		content: ' ';
		position: absolute;
		width:  0;
		height: 0;
		bottom: 100%;
		right:  1rem;
		border: 18px solid;
		border-color: transparent transparent #fff transparent;
		@include transform(translateX(-18px));
	}
}
