/* _fonts.scss */
@font-face {
  font-family: 'ReplicaLight';
  src: url("../fonts/replica/LaPresseBrand_Light.eot");
  src: url("../fonts/replica/LaPresseBrand_Light.eot?#iefix") format("embedded-opentype"), url("../fonts/replica/LaPresseBrand_Light.woff") format("truetype"), url("../fonts/replica/LaPresseBrand_Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rubrik_ExtraLight';
  src: url("../fonts/rubrik/Rubrik_ExtraLight.eot");
  src: url("../fonts/rubrik/Rubrik_ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/rubrik/Rubrik_ExtraLight.woff") format("woff"), url("../fonts/rubrik/Rubrik_ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rubrik_Medium';
  src: url("../fonts/rubrik/Rubrik_Light.eot");
  src: url("../fonts/rubrik/Rubrik_Light.eot?#iefix") format("embedded-opentype"), url("../fonts/rubrik/Rubrik_Light.woff") format("woff"), url("../fonts/rubrik/Rubrik_Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Verlag_Book';
  src: url("../fonts/verlag/Verlag_Book.eot");
  src: url("../fonts/verlag/Verlag_Book.eot?#iefix") format("embedded-opentype"), url("../fonts/verlag/Verlag_Book.woff") format("woff"), url("../fonts/verlag/Verlag_Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AmericanTypewriter';
  src: url("../fonts/americantype/ameritypmed-webfont.eot");
  src: url("../fonts/americantype/ameritypmed-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/americantype/ameritypmed-webfont.woff") format("woff"), url("../fonts/americantype/ameritypmed-webfont.ttf") format("truetype"), url("../fonts/americantype/ameritypmed-webfont.svg#itc_american_typewriterRg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AmericanTypewriter-Bold';
  src: url("../fonts/americantype/ameritypbol-webfont.eot");
  src: url("../fonts/americantype/ameritypbol-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/americantype/ameritypbol-webfont.woff") format("woff"), url("../fonts/americantype/ameritypbol-webfont.ttf") format("truetype"), url("../fonts/americantype/ameritypbol-webfont.svg#AmericanTypewriter-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*------------------------------------*\
    #Normalize
\*------------------------------------*/
* {
  -webkit-tap-highlight-color: transparent;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

a {
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  display: block;
}

iframe {
  border: none;
}

nav ul {
  list-style: none;
}

/*------------------------------------*\
    #Rate it
    source: http://www.radioactivethinking.com/rateit/example/example.htm
\*------------------------------------*/
.rateit {
  display: -moz-inline-box;
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.rateit .rateit-range {
  position: relative;
  display: -moz-inline-box;
  display: inline-block;
  background: url(../images/star.svg);
  height: 16px;
  outline: none;
}

.rateit .rateit-range * {
  display: block;
}

/* for IE 6 */
* html .rateit, * html .rateit .rateit-range {
  display: inline;
}

/* for IE 7 */
* + html .rateit, * + html .rateit .rateit-range {
  display: inline;
}

.rateit .rateit-hover, .rateit .rateit-selected {
  position: absolute;
  left: 0px;
}

.rateit .rateit-hover-rtl, .rateit .rateit-selected-rtl {
  left: auto;
  right: 0px;
}

.rateit .rateit-hover {
  background: url(../images/star.svg) left -32px;
}

.rateit .rateit-hover-rtl {
  background-position: right -32px;
}

.rateit .rateit-selected {
  background: url(../images/star.svg) left -16px;
}

.rateit .rateit-selected-rtl {
  background-position: right -16px;
}

.rateit .rateit-preset {
  background: url(../images/star.svg) left -48px;
}

.rateit .rateit-preset-rtl {
  background: url(../images/star.svg) left -48px;
}

.rateit button.rateit-reset {
  background: url(../images/delete.gif) 0 0;
  width: 16px;
  height: 16px;
  display: -moz-inline-box;
  display: inline-block;
  float: left;
  outline: none;
  border: none;
  padding: 0;
  margin: 4px 0 0 0;
}

.rateit button.rateit-reset:hover, .rateit button.rateit-reset:focus {
  background-position: 0 -16px;
}

/*------------------------------------*\
    #Global
\*------------------------------------*/
/*------------------------------------*\
    #Style guide
\*------------------------------------*/
html,
body {
  background: #fff;
  overflow: hidden;
}

body {
  font-size: 24px;
  font-family: ReplicaLight, Helvetica, Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

p {
  margin: 1rem 0;
}

@media only screen and (max-width: 1400px) {
  body {
    font-size: 22px;
  }
}
@media only screen and (max-width: 1280px) {
  body {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  body {
    font-size: 17px;
  }
}
@media only screen and (max-width: 800px) {
  body {
    font-size: 15.5px;
  }
}
.table {
  display: table;
}

.table-cell {
  display: table-cell;
}

.grey {
  background-color: #e7e7e7;
}

.center {
  text-align: center;
}

/*------------------------------------*\
    #Btn
\*------------------------------------*/
.btn {
  position: relative;
  display: inline-block;
  min-width: 10rem;
  height: 3rem;
  background-color: #e7e7e7;
  font-size: 80%;
  text-align: center;
  text-decoration: none;
  line-height: 1rem;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px #e7e7e7;
  border-radius: 0px;
  padding: 1rem .75rem;
  outline: none;
  cursor: pointer;
}
.btn.disabled {
  background-color: #eaeaeb;
  color: #404040;
  opacity: .25;
  pointer-events: none;
}
.btn.lft {
  float: left;
}
.btn.rgt {
  float: right;
}
.btn input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.grey .btn {
  background-color: #fff;
}

.field.valid .btn {
  background: #4d90fe;
  /* Old browsers */
  background: -moz-linear-gradient(top, #188a09 0%, #0f7801 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #188a09), color-stop(100%, #0f7801));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #188a09 0%, #0f7801 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #188a09 0%, #0f7801 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #188a09 0%, #0f7801 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #188a09 0%, #0f7801 100%);
  /* W3C */
  color: #fff;
  border: 1px solid #0d6a01;
}
.field.valid .btn:hover {
  background: #188a09;
  /* Old browsers */
  background: -moz-linear-gradient(top, #188a09 0%, #0d6a01 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #188a09), color-stop(100%, #0d6a01));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #188a09 0%, #0d6a01 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #188a09 0%, #0d6a01 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #188a09 0%, #0d6a01 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #188a09 0%, #0d6a01 100%);
  /* W3C */
  color: #fff;
  border-color: #0d6a01;
}
.field.valid .btn.disabled {
  background: #f5f5f5;
  /* Old browsers */
  background: -moz-linear-gradient(top, whitesmoke 0%, #f1f1f1 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, whitesmoke), color-stop(100%, #f1f1f1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, whitesmoke 0%, #f1f1f1 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, whitesmoke 0%, #f1f1f1 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, whitesmoke 0%, #f1f1f1 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, whitesmoke 0%, #f1f1f1 100%);
  /* W3C */
  color: #404040;
  border: solid 1px #e7e7e7;
  opacity: .5;
  pointer-events: none;
}

.field.error .btn {
  background: #e87772;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e87772 0%, #e80901 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e87772), color-stop(100%, #e80901));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e87772 0%, #e80901 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e87772 0%, #e80901 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e87772 0%, #e80901 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e87772 0%, #e80901 100%);
  /* W3C */
  color: #fff;
  border: 1px solid #e80901;
}
.field.error .btn:hover {
  background: #e87772;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e87772 0%, #d20a02 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e87772), color-stop(100%, #d20a02));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e87772 0%, #d20a02 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e87772 0%, #d20a02 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e87772 0%, #d20a02 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e87772 0%, #d20a02 100%);
  /* W3C */
  color: #fff;
  border-color: #d20a02;
}

/*------------------------------------*\
    #Header
\*------------------------------------*/
.main-header {
  position: fixed;
  top: 1%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.main-header__wrapper {
  position: relative;
  float: left;
  width: 87.6%;
  margin: 0 6.2%;
}

.main-header__logo {
  position: relative;
  float: left;
  width: 9.3%;
  z-index: 5;
  -webkit-transition: height 0.5s ease border 0.5s ease;
  -moz-transition: height 0.5s ease border 0.5s ease;
  -o-transition: height 0.5s ease border 0.5s ease;
  transition: height 0.5s ease, border 0.5s ease;
}
.main-header__logo img {
  width: 100%;
}

.main-header__nav {
  display: table;
  float: left;
  left: 10.3%;
  width: 89.7%;
  font-size: 70%;
  background-color: rgba(81, 82, 81, 0.96);
  color: #eaeaeb;
  font-family: Rubrik_Medium, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin: 0 0 0 1%;
}

.main-header__link {
  display: table-cell;
  position: relative;
  height: 100%;
  color: #eaeaeb;
  text-align: center;
  text-decoration: none;
  padding: 2.4% 0 2.2% 0;
  border-bottom: solid 3px transparent;
  cursor: pointer;
}
.main-header__link:hover, .main-header__link.selected {
  border-bottom: solid 3px rgba(255, 255, 255, 0.9);
}

.no0 .main-header__link.no0,
.no1 .main-header__link.no1,
.no2 .main-header__link.no2,
.no3 .main-header__link.no3 {
  border-bottom: solid 3px rgba(255, 255, 255, 0.9);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transform: translateX(-9999px);
  -moz-transform: translateX(-9999px);
  -ms-transform: translateX(-9999px);
  -o-transform: translateX(-9999px);
  transform: translateX(-9999px);
  -webkit-transition: -webkit-transform 0 0.75s linear, opacity 0.5s 0.25s ease;
  -moz-transition: -moz-transform 0 0.75s linear, opacity 0.5s 0.25s ease;
  -o-transition: -o-transform 0 0.75s linear, opacity 0.5s 0.25s ease;
  transition: transform 0 0.75s linear, opacity 0.5s 0.25s ease;
}
.popup .window {
  position: relative;
  top: 50%;
  width: 530px;
  height: 250px;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 0 30px 0 #232323;
  margin: 0 auto;
  padding: 20px;
  opacity: 0;
  -webkit-transform: translateY(-150px);
  -moz-transform: translateY(-150px);
  -ms-transform: translateY(-150px);
  -o-transform: translateY(-150px);
  transform: translateY(-150px);
  -webkit-transition: -webkit-transform 0.25s 0 ease, opacity 0.25s ease;
  -moz-transition: -moz-transform 0.25s 0 ease, opacity 0.25s ease;
  -o-transition: -o-transform 0.25s 0 ease, opacity 0.25s ease;
  transition: transform 0.25s 0 ease, opacity 0.25s ease;
}
.popup .window .close {
  display: block;
  position: absolute;
  top: 8px;
  right: 1rem;
  width: 40px;
  height: 40px;
  background-image: url("../images/btn-close.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 34px 34px;
  z-index: 2;
  cursor: pointer;
}
.popup .window h2 {
  position: relative;
  top: -20px;
  left: -20px;
  width: 100%;
  background: #232323;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
  padding: 20px;
}
.popup .window .text {
  position: relative;
  width: 100%;
  height: 100px;
  white-space: normal;
  margin: 0 0 15px 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.popup .window label {
  width: 100%;
}
.popup.active {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0 0 linear, opacity 0.5s 0 ease;
  -moz-transition: -moz-transform 0 0 linear, opacity 0.5s 0 ease;
  -o-transition: -o-transform 0 0 linear, opacity 0.5s 0 ease;
  transition: transform 0 0 linear, opacity 0.5s 0 ease;
}
.popup.active .window {
  opacity: 1;
  -webkit-transform: translateY(-125px);
  -moz-transform: translateY(-125px);
  -ms-transform: translateY(-125px);
  -o-transform: translateY(-125px);
  transform: translateY(-125px);
}

body.no0 .ad-drop-zone {
  display: block;
}

.ad-drop-zone {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(153, 88, 161, 0.75);
  background-image: url("../images/upload-fr.png");
  background-position: 50% 50%;
  background-size: 20% auto;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 100;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0 0.5s linear, opacity 0.5s ease;
  -moz-transition: -moz-transform 0 0.5s linear, opacity 0.5s ease;
  -o-transition: -o-transform 0 0.5s linear, opacity 0.5s ease;
  transition: transform 0 0.5s linear, opacity 0.5s ease;
}
.ad-drop-zone.active {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0 linear, opacity 0.5s ease;
  -moz-transition: -moz-transform 0 linear, opacity 0.5s ease;
  -o-transition: -o-transform 0 linear, opacity 0.5s ease;
  transition: transform 0 linear, opacity 0.5s ease;
}
.ad-drop-zone > form {
  display: block;
  position: absolute;
  top: 8.2%;
  left: 6.2%;
  width: 87.6%;
  height: 83.6%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: dotted 5px #fff;
  border-radius: 0px;
}
.ad-drop-zone input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.ad-drop-zone__close {
  position: absolute;
  top: 75%;
  left: 50%;
  width: 4rem;
  background-image: url("../images/btn-close.png");
  background-position: 1rem 50%;
  background-repeat: no-repeat;
  background-size: 1.25rem 1.25rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 0 -4rem;
  padding: 1rem 1rem 1rem 3rem;
  border: solid 2px #fff;
  border-radius: 0px;
}

.processing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(88, 161, 110, 0.75);
  background-image: url("../images/processing-fr.png"), url("../images/loader.gif");
  background-position: 50% calc(50% - 75px), 50% 50%;
  background-repeat: no-repeat, no-repeat;
  opacity: 0;
  z-index: 100;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0 0.5s linear, opacity 0.5s ease;
  -moz-transition: -moz-transform 0 0.5s linear, opacity 0.5s ease;
  -o-transition: -o-transform 0 0.5s linear, opacity 0.5s ease;
  transition: transform 0 0.5s linear, opacity 0.5s ease;
}
.processing.active {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0 linear, opacity 0.5s ease;
  -moz-transition: -moz-transform 0 linear, opacity 0.5s ease;
  -o-transition: -o-transform 0 linear, opacity 0.5s ease;
  transition: transform 0 linear, opacity 0.5s ease;
}

[lang="en"] .processing {
  background-image: url("../images/processing-en.png"), url("../images/loader.gif");
}

.tip {
  position: absolute;
  top: 0;
  left: -9999px;
  width: auto;
  background-color: #fff;
  background-image: url("../images/btn-close-black.png");
  background-position: calc(100% - .5rem) 1rem;
  background-repeat: no-repeat;
  background-size: 1.5rem 1.5rem;
  font-size: .9rem;
  border-radius: 0px;
  -webkit-box-shadow: 0 0 40px 0 black;
  box-shadow: 0 0 40px 0 black;
  padding: 1rem 2.5rem 1rem 1rem;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
  -o-transition: -o-transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.tip.active {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.tip.browserRender {
  top: 35px;
  left: 50%;
  width: 420px;
  margin-left: calc(-1.75rem - 210px);
}
.tip.adblock {
  top: 20px;
  left: auto;
  right: 6.2%;
  width: 420px;
}
.tip.adblock strong {
  display: inline-block;
  padding: .25rem 1.5rem .25rem 0;
  background: url("../images/adblock-icon.png") 100% 50% no-repeat;
}

.pointer-btm-mid:before, .tip.browserRender:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  left: 50%;
  border: 20px solid;
  border-color: #e7e7e7 transparent transparent transparent;
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  -o-transform: translateX(-20px);
  transform: translateX(-20px);
}
.pointer-btm-mid:after, .tip.browserRender:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  left: 50%;
  border: 18px solid;
  border-color: #fff transparent transparent transparent;
  -webkit-transform: translateX(-18px);
  -moz-transform: translateX(-18px);
  -ms-transform: translateX(-18px);
  -o-transform: translateX(-18px);
  transform: translateX(-18px);
}

.pointer-top-rgt:after, .tip.adblock:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  right: 1rem;
  border: 18px solid;
  border-color: transparent transparent #fff transparent;
  -webkit-transform: translateX(-18px);
  -moz-transform: translateX(-18px);
  -ms-transform: translateX(-18px);
  -o-transform: translateX(-18px);
  transform: translateX(-18px);
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  transition: opacity 1s linear;
}
.bg.no0 {
  background-color: #e0c9e5;
}
.bg.no1 {
  background-color: #cadbe5;
}
.bg.no2 {
  background-color: #d0e4c9;
}
.bg.no3 {
  background-color: #f5e295;
}
.bg.gradient {
  background-image: url(../images/gradient.png);
  background-repeat: repeat-y;
  opacity: 1;
}

.no0 .bg.no0,
.no1 .bg.no1,
.no2 .bg.no2,
.no3 .bg.no3 {
  opacity: 1;
}

.offers-list {
  position: relative;
  float: right;
  width: 50%;
}
.offers-list.extend {
  width: 100%;
}
.offers-list.extend .offer {
  width: 50%;
}
.offers-list.extend .offer .delete-offer {
  pointer-events: auto;
  opacity: 1;
}
.offers-list .offer {
  position: relative;
  float: left;
  width: 100%;
  margin: 0 0 1% 0;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 1rem 0;
  padding: 0;
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  -moz-transition: opacity 0.5s ease, -moz-transform 0.5s ease;
  -o-transition: opacity 0.5s ease, -o-transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.offers-list .offer:nth-child(4n+2), .offers-list .offer:nth-child(4n+3) {
  background-color: #e7e7e7;
}
.offers-list .offer:nth-child(4n+2) legend, .offers-list .offer:nth-child(4n+3) legend {
  background-color: #e7e7e7;
}
.offers-list .offer.created {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.offers-list .offer:only-child {
  -webkit-transition: none 0 linear;
  -moz-transition: none 0 linear;
  -o-transition: none 0 linear;
  transition: none 0 linear;
}
.offers-list .offer legend {
  position: relative;
  top: -1rem;
  left: 0;
  width: 18.6%;
  background: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: .5rem 1rem;
}
.offers-list .offer .delete-offer {
  position: absolute;
  left: 100%;
  font-size: 1rem;
  width: 15rem;
  text-transform: none;
  margin: 0 1rem;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.offers-list .offer .delete-offer a {
  text-decoration: none;
}

.controles {
  text-align: right;
  line-height: 3rem;
  padding: 1rem 0;
}
.controles .add-offer-msg {
  display: inline-block;
  font-size: 80%;
  margin: 0 1rem 0 0;
}

.theme-purple .btn.action {
  background: #9958a1;
  color: #fff;
  border: solid 1px #9958a1;
}

.theme-blue .btn.action {
  background: #5772a3;
  color: #fff;
  border: solid 1px #5772a3;
}
.theme-blue .preview.active {
  border: solid 1px #5772a3;
}
.theme-blue .input:focus, .theme-blue .textarea:focus, .theme-blue .select:focus {
  border: solid 1px #5772a3;
}

.theme-green .btn.action {
  background: #58a16e;
  color: #fff;
  border: solid 1px #58a16e;
}
.theme-green .preview.active {
  border: solid 1px #58a16e;
}
.theme-green .input:focus, .theme-green .textarea:focus, .theme-green .select:focus {
  border: solid 1px #58a16e;
}
.theme-green .delete-offer a {
  color: #58a16e;
}

.theme-yellow .btn.action {
  background: #e9b500;
  color: #fff;
  border: solid 1px #e9b500;
}

body.no1 .main-header .title,
body.no1 .steps {
  left: -100%;
}

body.no2 .main-header .title,
body.no2 .steps {
  left: -200%;
}

body.no3 .main-header .title,
body.no3 .steps {
  left: -300%;
}

.wrapper {
  position: relative;
  float: left;
  width: 87.6%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 6.2%;
  padding: 10% 0 0 0;
}
.wrapper .section {
  position: relative;
  float: left;
  width: 100%;
}
.wrapper .section.half {
  width: 49.5%;
}
.wrapper .section.medium {
  width: 64.5%;
}
.wrapper .section.rgt {
  float: right;
}
.wrapper .section.white {
  background-color: #fff;
}
.wrapper .section.no-padding {
  padding: 0;
}
.wrapper .header {
  position: relative;
  top: 34%;
  right: 5.2%;
}
.wrapper .footer {
  position: relative;
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: .5rem 1rem 1rem 1rem;
}

.wrapper__text {
  position: relative;
  left: 10.3%;
  float: left;
  width: 23%;
}

.full, .half {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: .5rem 1rem;
  vertical-align: middle;
}

.half {
  width: 50%;
}

.input, .textarea, .select {
  width: calc(100% - 3rem);
  height: 3rem;
  background: white;
  color: #404040;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0px;
  border: solid 1px #e7e7e7;
  padding: 1rem .5rem;
  outline: none;
}
.input:hover, .textarea:hover, .select:hover {
  border: solid 1px rgba(81, 82, 81, 0.96);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px inset;
}
.input:focus, .textarea:focus, .select:focus {
  border: solid 1px #4d90fe;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px inset;
}
.input.dollar, .dollar.textarea, .dollar.select {
  background-image: url("../images/dollar-sign.png");
  background-repeat: no-repeat;
  background-position: 98% 50%;
}
.input.opt, .opt.textarea, .opt.select {
  background: rgba(255, 239, 198, 0.5);
}

.textarea {
  height: 90px;
}

.file {
  width: calc(100% - 3rem);
  height: 3rem;
}
.file:hover {
  border: solid 1px rgba(81, 82, 81, 0.96);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px inset;
}
.file input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.file input.hide {
  display: none;
  transform: translate3d(-60000px, 0, 0);
  pointer-events: none;
}
.file .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 44px;
  pointer-events: none;
  z-index: 0;
}

.preview {
  display: block;
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.logo .preview {
  position: absolute;
  bottom: .75rem;
  right: 1rem;
}

.formats {
  position: relative;
  float: left;
  width: 100%;
  padding: .5rem 0;
}
.formats .radio {
  position: relative;
  float: left;
  width: 24.25%;
  background-color: #e7e7e7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px #e7e7e7;
  margin: 0 1% 0 0;
  cursor: pointer;
}
.formats .radio:last-child {
  margin-right: 0;
}
.formats .radio:hover {
  border: solid 1px rgba(81, 82, 81, 0.96);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px inset;
}
.formats .radio.valid {
  border-color: #5772a3;
  background-color: #5772a3;
}

.mention {
  background-image: none;
}
.mention .input, .mention .textarea, .mention .select {
  width: calc(100% - 4.5rem);
}

.row {
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
}
.row.opt {
  background-color: rgba(255, 239, 198, 0.5);
}

.field {
  position: relative;
  float: left;
  background-position: calc(100% - 1rem) 75%;
  background-repeat: no-repeat;
  background-size: 2.75rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.field.half {
  width: 50%;
}
.field.opt {
  background-color: rgba(255, 239, 198, 0.5);
}
.field.error {
  background-image: url("../images/error-icon.svg");
}
.field.error .input, .field.error .textarea, .field.error .select {
  border-color: #e80901;
}
.field.valid {
  background-image: url("../images/valid-icon.svg");
}
.field.valid .input, .field.valid .textarea, .field.valid .select {
  border-color: #0f7801;
}

.steps {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 400%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: left 1s ease;
  -moz-transition: left 1s ease;
  -o-transition: left 1s ease;
  transition: left 1s ease;
}
.steps .form {
  float: left;
  position: relative;
  width: 75%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  z-index: 0;
}
.steps .step {
  float: left;
  position: relative;
  width: 33.33%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.steps .step.no0 {
  width: 25%;
}
.steps .step.no3 .content {
  padding-top: 100px;
}
.steps .step.no3 .footer label {
  float: right;
  width: 255px;
  font-size: .8rem;
  text-align: right;
  white-space: normal;
  margin: 0 10px 0 0;
}
.steps .step.no3 .footer label input {
  position: relative;
  top: 15px;
  float: right;
}
.steps .step.no3 .footer label span {
  display: inline-block;
  width: 230px;
  margin: 4px 0;
}
.steps .step .zipable {
  position: absolute;
  top: -9999px;
  left: 0;
}
.steps .lbl {
  white-space: nowrap;
}
.steps .lbl .msg {
  white-space: nowrap;
  font-style: italic;
  font-size: .8rem;
  color: rgba(0, 0, 0, 0.7);
}
.steps label {
  display: inline-block;
  position: relative;
  width: 100%;
}
.steps .countMaxCharacter {
  display: block;
  position: absolute;
  bottom: 1.3rem;
  right: 4.75rem;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  font-family: "Verlag_Book", Helvetica, Sans-Serif;
  text-align: center;
  z-index: 1;
}
.steps .radio-lbl {
  font-size: .8rem;
  color: rgba(0, 0, 0, 0.7);
}
.steps .note {
  position: relative;
  float: left;
  width: 100%;
  font-size: .8rem;
  color: rgba(0, 0, 0, 0.7);
  margin: .5rem 0;
}
.steps .multi-files {
  position: relative;
  float: left;
  width: 100%;
}
.steps .files-list {
  position: relative;
  float: left;
  list-style: none;
  margin: 2rem 0 0 0;
  padding: 0;
}
.steps .files-list.hide {
  display: none;
}
.steps .files-list li {
  position: relative;
  float: left;
  height: 3rem;
}
.steps .files-list li a {
  display: block;
  position: absolute;
  top: -.5rem;
  right: -.5rem;
  background-image: url(../images/btn-close-black.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1rem;
  height: 1rem;
}

.render {
  display: block;
  position: relative;
  margin: .5rem auto;
}

.video .preview {
  background-image: url("../images/video@2x.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 3rem auto;
}
