<header class="main-header">
	<div class="main-header__wrapper">
		<a href="{{text.creationKitLink}}" class="main-header__logo">
			<img src="{{path.images}}LaPressePlus.svg" class="logo">
		</a>

		<nav class="main-header__nav">
			<a href="{{text.creationKitLink}}" class="main-header__link">{{text.creationKit}}</a>|
			<span class="main-header__link no0 js-goStep0">{{text.newAd}}</span> >
			<span class="main-header__link no1 js-goStep1">{{text.generalData}}</span> >
			<span class="main-header__link no2 js-goStep2">{{text.offers}}</span> >
			<span class="main-header__link no3 js-goStep3">{{text.preview}}</span> |
			<a href="{{path.root}}?lang={{app.cultureOff}}" class="main-header__link">{{text.languageChange}}</a>
		</nav>
	</div>
</header>