<!-- === Step 3 ================================================= -->
<section class="step no3 theme-yellow">
	<iframe class="zipable"></iframe>

	<div class="wrapper">
		<img src="public/images/titles/step3-{{app.culture}}.png" class="wrapper__text">

		<div class="section medium rgt">
			<div class="iframe">
				<iframe class="render" ALLOWTRANSPARENCY="true"></iframe>
			</div>

			<footer class="footer">
				<div class="btn lft js-previousStep js-goStep2">{{text.previous}}</div>
				<div class="btn action rgt js-download disabled">{{text.download}}</div>
				<label>
					<input type="checkbox" name="iConfirm">
					<span>{{text.iConfirm}}</span>
				</label>
			</footer>
		</div>
	</div>
</section>