<!-- === Step 1 ================================================= -->
<section class="step no1 theme-blue">
	<div class="wrapper">
		<img src="public/images/titles/step1-{{app.culture}}.png" class="wrapper__text">

		<div class="section medium white rgt">
			<fieldset>
				<div class="row">

					<div class="half field">
						<label class="lbl">{{text.clientNo}}</label>
						<input type="text" name="noClient" class="input short js-validate" placeholder="Nom du client" required />
					</div>

					<div class="half field">
						<label class="lbl">{{text.adNo}} <small class="msg">({{text.optional}})</small></label>
						<input type="text" name="noAd" class="input short opt js-validate" placeholder="1234567" />
					</div>

				</div>

				<div class="row">
					<div class="half field">
						<label class="lbl">{{text.category}}</label>
						<select name="category" class="select short js-validate" required>
							<option value="deals">{{text.deals}}</option>
							<option value="conferences">{{text.conferences}}</option>
							<option value="cruise">{{text.cruise}}</option>
							<option value="adventures">{{text.adventures}}</option>
							<option value="escapades">{{text.escapades}}</option>
							<option value="circuits">{{text.circuits}}</option>
							<option value="packages">{{text.packages}}</option>
							<option value="destinationWorld">{{text.destinationWorld}}</option>
						</select>
						<input type="hidden" name="previousChoice" value="deals"/>
					</div>

					<div class="half field logo">
						<input type="hidden" name="pre-logo">
						<label class="lbl">Logo</label>
						<div class="btn action file">
							<span class="text">{{text.uploadImage}}</span>
							<input type="file" accept="image/*" capture="camera" name="logo" class="file-input js-validate" required>
						</div>
						<span class="preview"></span>
					</div>
				</div>
				
				<div class="row">
					<div class="full field format">
						<label class="lbl">{{text.format}}</label><br>
						<div class="formats">
							<input type="radio" name="format" value="480x325" checked />
							<input type="radio" name="format" value="480x152" />
							<input type="radio" name="format" value="230x325" />
							<input type="radio" name="format" value="230x152" />
						</div>
					</div>
				</div>
			</fieldset>

			<footer class="footer">
				<div class="btn action rgt js-goStep2">{{text.next}}</div>
			</footer>
		</div>
	</div>

	<div class="content">
		
	</div>
</section>