<!-- === Step 2 ================================================= -->
<section class="step no2 theme-green">
	<div class="wrapper">

		<div class="section half rgt no-padding controles">
			<input name="offersNbr" type="hidden" value="0" />
			<a href="#" class="btn rgt action js-add-offer">{{text.addOffer}}</a>
			<span class="add-offer-msg"></span>
		</div>

		<div class="section">
			<div class="offers-list">
				<!-- public/templates/form-offer.mustache -->
			</div>

			<footer class="footer">
				<div class="btn lft js-goStep1">{{text.previous}}</div>
				<div class="btn action rgt js-goStep3">{{text.next}}</div>
			</footer>
		</div>
	</div>
	
</section>